[Desktop Entry]
Version=1.0
Name=Bitcoin Core
Comment=Connect to the Qtum P2P Network
Exec=qtum-qt %u
Terminal=false
Type=Application
Icon=qtum128
MimeType=x-scheme-handler/qtum;
Categories=Office;Finance;
StartupWMClass=Qtum-qt
Name[en_US]=qtum-qt
