[Desktop Entry]
Version=0.17.6
Name=Qtum Core
Comment=Connect to the Qtum P2P Network
Exec=qtum-qt %u
Terminal=false
Type=Application
Icon=qtum128
MimeType=x-scheme-handler/qtum;
Categories=Network;
StartupWMClass=Qtum-qt
Name[en_US]=qtum-qt
