/*-------------------------------------------- 
Tool Button Black CSS
--------------------------------------------*/
QToolButton {
    color: #ffffff;
    background: #26a1e4;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 10px;
}
QToolButton:checked {
    border-right: 3px solid #006daf;
}
QToolButton:pressed, QToolButton:hover:pressed, QToolButton:checked {
    color: #ffffff;
    background: #0088d0;
}
QToolButton:hover:!checked {
    color: #ffffff;
    background: #35a9ec;
}
QToolButton:disabled {
    color: rgba(255, 255, 255, 20%);
}
