/*--------------------------------------------
Tree view CSS
--------------------------------------------*/
QTreeWidget {
    background-color:rgba(0,0,0,0);
    selection-background-color: #26a1e3;
    show-decoration-selected:0;
}
QTreeView{
    color: #6b80af;
    background-color: #ffffff;
    alternate-background-color: #ffffff;
    border: none;
    font: normal;
    qproperty-showGrid: false;
    qproperty-alternatingRowColors: false;
    qproperty-selectionBehavior: SelectRows;
}
QTreeView::item{
    border: none;
    padding: 4px;
}
QTreeView::item:selected{
    qproperty-showGrid: false;
    background: #26a1e3;
    color: #ffffff;
}
QTreeView::disabled{
    color: rgba(107, 128, 175, 20%);
}
/*--------------------------------------------
Scroll bar dark CSS
--------------------------------------------*/
QScrollBar:vertical {
    border-radius: 0px;
    background: #ffffff;
    width: 16px;
    padding: 5px 4px;
}
QScrollBar::handle:vertical {
    border: none;
    background: #d5dde9;
    border-radius: 4px;
    min-height: 45px;
}
QScrollBar::handle:vertical:disabled {
    background: rgba(209, 219, 231, 40%);
}

QScrollBar:horizontal {
    border-radius: 0px;
    background: #ffffff;
    height: 16px;
    padding: 4px 5px;
}
QScrollBar::handle:horizontal {
    border: none;
    background: #d5dde9;
    border-radius: 4px;
    min-width: 45px;
}
QScrollBar::handle:horizontal:disabled {
    background: rgba(209, 219, 231, 40%);
}
/*--------------------------------------------
Check Box CSS
--------------------------------------------*/
QTreeView::indicator {
    width: 16px;
    height: 16px;
}
QTreeView::indicator::unchecked {
    image: url(:/styles/theme2/app-icons/checkbox_unchecked);
}
QTreeView::indicator::checked {
    image: url(:/styles/theme2/app-icons/checkbox_checked);
}
QTreeView:indicator:indeterminate {
    image: url(:/styles/theme2/app-icons/checkbox_indeterminate);
}
QTreeView::indicator::unchecked:hover {
    image: url(:/styles/theme2/app-icons/checkbox_unchecked_hover);
}
QTreeView::indicator::checked:hover {
    image: url(:/styles/theme2/app-icons/checkbox_checked_hover);
}
QTreeView:indicator:indeterminate:hover {
    image: url(:/styles/theme2/app-icons/checkbox_indeterminate_hover);
}
QTreeView:indicator:unchecked:disabled {
    image: url(:/styles/theme2/app-icons/checkbox_unchecked_disabled);  
}
QTreeView:indicator:checked:disabled {
    image: url(:/styles/theme2/app-icons/checkbox_checked_disabled);
}
QTreeView:indicator:indeterminate:disabled {
    image: url(:/styles/theme2/app-icons/checkbox_indeterminate_disabled);
}
