# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.qtum
host=127.0.0.1

#mainnet default
port=3889

#testnet default
#port=13889

#regtest default
#port=23889

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=f1cfa6d3
genesis=000075aef83cf2853580f8ae8ce6f8c3096cfa21d98334d6e3f95e5582ed986c
input=/home/example/.qtum/blocks

# testnet
#netmagic=0d221506
#genesis=0000e803ee215c0684ca0d2f9220594d3f828617972aad66feb2ba51f5e14222
#input=/home/example/.qtum/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
