/*-------------------------------------------- 
Widget CSS
--------------------------------------------*/
QWidget{
    outline: none;
}
/*--------------------------------------------
Main Window CSS
--------------------------------------------*/
QMainWindow{
    background-color: #1f1f1f;
    border: 0px solid transparent;
    background-image: url(":/styles/app-icons/bg");
    background-position: bottom left;
    background-repeat: no-repeat;
}
QMainWindow .QFrame{
    border: 1px solid transparent;
}
QMainWindow .QFrame#frameBalances, 
#frameOtherTokens, 
#frameRecentTransactions{
    background-color: #2e2e2e;
}
QFrame#hLine{
    border-top: 1px solid #404041;
}
WalletFrame{
    background-color: #272727;
}
QDialog{
    background-color: #272727;
}
QLabel{
    color: #ffffff;
}
QLabel::disabled{
    color: rgba(255, 255, 255, 10%);
}
QLabel#labelTotal,
#labelWatchTotal{
    color: #049ee8;
}
/*-------------------------------------------- 
Line Edit CSS
--------------------------------------------*/
QLineEdit{
    border: 1px solid #3b3b3d;
    border-radius: 12px;
    background-color: #272727;
    color: #969696;
    padding: 4px;
}
QLineEdit::hover:!read-only{
    border: 3px solid #049ee8;
    padding: 2px;
    background-color: #ffffff;
    color: #000000;
}
QLineEdit::focus:!read-only{
    border: 3px solid #0099ce;
    padding: 2px;
    background-color: #e6f0f0;
    color: #000000;
}
QLineEdit::disabled{
    border: 1px solid rgba(59, 59, 59, 40%);
    color: rgba(150, 150, 150, 10%);
}
/*--------------------------------------------
List Viev CSS
--------------------------------------------*/
QListView {
    background-color: #2e2e2e;
    border: none;
}
/*--------------------------------------------
Combo Box CSS
--------------------------------------------*/
QComboBox {
    border: none;
    border-bottom: 1px solid #717173;
    border-radius: 12px;
    background-color: #2a2a2a;
    color: #ffffff;
    padding: 4px;
    padding-left: 10px;
    padding-right: 15px;
    combobox-popup: 0;
}
QComboBox:hover {
    border-bottom: 1px solid #373737;
}
QComboBox:drop-down {
    border: 0px;
    border-left: 2px solid #727272;
    margin-left: -15px;
}
QComboBox:down-arrow:on {
    image: url(":/styles/app-icons/cb_up_down_arrow");
    width: 6px;
    height: 10px;
    top: 1px;
}
QComboBox:on {
    padding-top: 6px;
    border-bottom: 3px solid #3e3e3e;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
QComboBox QAbstractItemView::item {
    border: none;
    border-radius: 10px;
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 4px;
    padding-left: 10px;
}
QComboBox QAbstractItemView::item:selected {
    background-color: #545454;
    color: #ffffff;
    padding: 4px;
}
QComboBox QAbstractItemView{
    background-color: #2e2e2e;
    border: none;
    border-bottom: 1px solid #727272;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 4px;
}
QComboBox::disabled {
    border-bottom: 1px solid rgba(114, 114, 114, 40%);
    color: rgba(255, 255, 255, 10%);
}
QComboBox:drop-down:disabled {
    border-left: 2px solid rgba(114, 114, 114, 40%);
}
/*--------------------------------------------
Group Box CSS
--------------------------------------------*/
QGroupBox
{
    border: 0px solid transparent; 
    margin-top: 20px;
    background-color: #2e2e2e;
}
QGroupBox::title {
    color: #ffffff;
    subcontrol-position: top left;
    left: -5px;
    padding: -40px 3px 0px 3px;
}
QGroupBox::title:disabled {
    color: rgba(255, 255, 255, 10%);
}
/*--------------------------------------------
Slider CSS
--------------------------------------------*/
QSlider {
    border: none;
    background-color: none;
}
QSlider:horizontal{
    min-height: 36px;
}
QSlider::groove:horizontal {
    background-color: transparent;
    height: 20px;
    left: 16px;
    right: 7px;
}
QSlider::handle:horizontal {
    background-image: url(":/styles/app-icons/slider_switcher");
    background-repeat: none;
    margin: 2px -10px -2px;
}
QSlider::handle:horizontal:active {
    background-image: url(":/styles/app-icons/slider_switcher_hover");
    background-repeat: none;
    margin: 2px -10px -2px;
}
QSlider::add-page:horizontal {
    margin: 9px -8px;
    border: none;
    background: #d7d7d7;
    border-right: 1px solid #ababab;
}
QSlider::sub-page:horizontal {
    margin: 9px -9px;
    border: none;
    background: #57b2d5;
    border-left: 1px solid #498ea9;
}
QSlider::add-page:horizontal:disabled {
    background: rgba(215, 215, 215, 40%);
    border-right: 1px solid rgba(171, 171, 171, 40%);
}
QSlider::sub-page:horizontal:disabled {
    background: rgba(87, 178, 213, 40%);
    border-left: 1px solid rgba(73, 142, 169, 40%);
}
QSlider::handle:horizontal:disabled {
    background-image: url(":/styles/app-icons/slider_switcher_disabled");
}
/*--------------------------------------------
Spin Box CSS
--------------------------------------------*/
QAbstractSpinBox {
    padding: 4px;
    background-color: #282828;
    background-image: url(":/styles/app-icons/spinBox");
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid #3b3b3d;
    border-radius: 12px;
    color: #bdbdbd;
    padding-left: 12px;
}
QAbstractSpinBox:hover {
    border: 1px solid #7e7e7e;
    background-image: url(":/styles/app-icons/spinBoxHover");
}
QAbstractSpinBox:focus {
    background-image: url(":/styles/app-icons/spinBoxFocus");
}
QAbstractSpinBox::up-button {
    border: none;
    width: 22px;
    background-color: transparent;
    border-top-right-radius: 12px;
}
QAbstractSpinBox::down-button {
    border: none;
    margin-top: 1px;
    width: 22px;
    background-color: transparent;
    border-bottom-right-radius: 12px;
}
QAbstractSpinBox::up-arrow {
    image: url(":/styles/app-icons/up_arrow");
    width: 6px;
    height: 4px;
    margin-right: 5px;
    margin-top: 1px;
}
QAbstractSpinBox::down-arrow {
    image: url(":/styles/app-icons/down_arrow");
    width: 6px;
    height: 4px;
    margin-right: 5px;
    margin-bottom: 1px;
}
QAbstractSpinBox::up-arrow:hover{
    image: url(":/styles/app-icons/up_arrow_hover");
}
QAbstractSpinBox::down-arrow:hover{
    image: url(":/styles/app-icons/down_arrow_hover");
}
QAbstractSpinBox::disabled {
    background-image: url(":/styles/app-icons/spinBoxDisabled");
    border: 1px solid rgba(59, 59, 59, 40%);
    color: rgba(189, 189, 189, 10%);
}
QAbstractSpinBox::up-arrow:disabled{
    image: url(":/styles/app-icons/up_arrow_disabled");
}
QAbstractSpinBox::down-arrow:disabled{
    image: url(":/styles/app-icons/down_arrow_disabled");
}
/*--------------------------------------------
Scroll Area CSS
--------------------------------------------*/
QAbstractScrollArea::corner {
    background: #222222;
    border: 0px;
}
/*--------------------------------------------
Scroll Bar Vertical CSS
--------------------------------------------*/
QScrollBar{
    background: none;
}
QScrollBar:up-arrow:vertical, QScrollBar::down-arrow:vertical {
    qproperty-visible: false;
}
QScrollBar::add-line:vertical {
    qproperty-visible: false;
    border: none;
    background: none;
    height: 0px;
}
QScrollBar::sub-line:vertical {
    qproperty-visible: false;
    border: none;
    background: none;
    height: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: rgba(255, 255, 255, 0.0);
}
QScrollBar:vertical {
    background: #222222;
    width: 16px;
    padding: 5px 4px;
}
QScrollBar::handle:vertical {
    border: none;
    background: #2e2e2e;
    border-radius: 4px;
    min-height: 35px;
}
QScrollBar::handle:vertical:disabled {
    background: rgba(46, 46, 46, 40%);
}
QTextEdit QScrollBar:vertical {
    border-radius: 0px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-left: 1px solid #6a6a6d;
    background: #747474;
    width: 19px;
    padding: 10px 4px;
}
QTextEdit QScrollBar::handle:vertical {
    border: 1px solid #646464;
    background: #4c4c4c;
    border-radius: 5px;
    min-height: 30px;
}
QTextEdit QScrollBar::handle:vertical:disabled {
    background: rgba(76, 76, 76, 40%);
}
/*--------------------------------------------
Scroll Bar Horizontal CSS
--------------------------------------------*/
QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    qproperty-visible: false;
}
QScrollBar::add-line:horizontal {
    qproperty-visible: false;
    border: none;
    background: none;
    height: 0px;
}
QScrollBar::sub-line:horizontal {
    qproperty-visible: false;
    border: none;
    background: none;
    height: 0px;
}
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: rgba(255, 255, 255, 0.0);
}
QScrollBar:horizontal {
    background: #222222;
    height: 16px;
    padding: 4px 5px;
}
QScrollBar::handle:horizontal {
    border: none;
    background: #2e2e2e;
    border-radius: 4px;
    min-width: 35px;
}
QScrollBar::handle:horizontal:disabled {
    background: rgba(46, 46, 46, 40%);
}
/*--------------------------------------------
Table View CSS
--------------------------------------------*/
QHeaderView{
    color: white;
    background-color: transparent;
    border: none;
}
QHeaderView:section{
    padding: 6px 20px 6px 6px;
    border: none;
    background-color: #2e2e2e;
}
QHeaderView::down-arrow {
    image: url(":/styles/app-icons/down_arrow");
    width: 6px;
    height: 4px;
    margin-right: 5px;
    margin-bottom: 1px;
}
QHeaderView::up-arrow {
    image: url(":/styles/app-icons/up_arrow");
    width: 6px;
    height: 4px;
    margin-right: 5px;
    margin-bottom: 1px;
}
QTableView{
    color: #C5C5C5;
    background-color: #2e2e2e;
    alternate-background-color: #393939;
    border: none;
    font: normal;
    qproperty-showGrid: false;
    qproperty-alternatingRowColors: true;
    qproperty-selectionBehavior: SelectRows;
}
QTableView::item{
    border: none;
}
QTableView::item:selected{
    qproperty-showGrid: false;
    background-color: #244343;
    color: white;
}
QHeaderView::disabled{
    color: rgba(255, 255, 255, 10%);
}
QHeaderView::down-arrow:disabled {
    image: url(":/styles/app-icons/down_arrow_disabled");
    width: 6px;
    height: 4px;
}
QHeaderView::up-arrow:disabled {
    image: url(":/styles/app-icons/up_arrow_disabled");
    width: 6px;
    height: 4px;
}
QTableView::disabled{
    color: rgba(197, 197, 197, 10%);
}
/*--------------------------------------------
QTextEdit CSS
--------------------------------------------*/
QTextEdit {
    border: 1px solid #5a5a5d;
    border-radius: 12px;
    background-color: #ffffff;
    color: #2a2a2a;
    padding-left: 5px;
}
QTextEdit::disabled {
    border: 1px solid rgba(90, 90, 93, 40%);
    color: rgba(42, 42, 42, 10%);
}
/*--------------------------------------------
Status Bar CSS
--------------------------------------------*/
QStatusBar{
    background-color: #DADADA;
}
QStatusBar QLabel{
    border: 1px solid #DADADA;
    color: #232121;
}
QStatusBar::item {
    border: none;
}
QStatusBar QLabel::disabled{
    border: 1px solid rgba(218, 218, 218, 40%);
    color: rgba(35, 33, 33, 10%);
}
/*--------------------------------------------
Progress Bar CSS
--------------------------------------------*/
QProgressBar {
    background-color: #0a0a0a;
    border: 1px solid #0a0a0a;
    font: bold 10pt;
    color: white;
    border-radius: 3px;
}
QProgressBar::chunk {
    background: QLinearGradient(x1: 1, y1: 0, x2: 0, y2: 1, stop: 0 #82cae0, stop: 1 #2c839d);
}
QProgressBar::disabled {
    border: 1px solid rgba(10, 10, 10, 40%);
    color: rgba(255, 255, 255, 10%);
}
/*--------------------------------------------
Tab Bar CSS
--------------------------------------------*/
QTabBar::tab {
    background-color: #1d1d1d;
    color: #636363;
    padding: 5px;
    border-width: 0px;
    border-radius: 0px;
    border-style: none;
    border-bottom: 5px solid #1d1d1d;
}
QTabBar::tab:selected {
    color:white;
    border-bottom: 5px solid #163B4E;
}
QTabBar::tab:hover:!selected {
    color:#636363;
    border-bottom: 5px solid #2E92D0;
}
QTabBar::tab:disabled {
    color: #2A2A2A;
}
QTabWidget::pane {
    border: 1px solid #232121;
    border-top: none;
    background-color: #232121;
}
/*--------------------------------------------
MenuBar CSS
--------------------------------------------*/
QMenuBar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 #e3e2e3, stop:1 #c5c4c5);
}
QMenuBar::item {
    background-color: transparent;
    padding: 5px 6px;
    border-radius: 4px;
    color: #696869;
}
QMenuBar::item:selected {
    border: 1px solid #d5d4d5;
    border-radius: 3px;
    color: #232121;
}
QMenuBar::item:disabled {
    color: rgba(105, 104, 105, 10%);
}
/*--------------------------------------------
Menu CSS
--------------------------------------------*/
QMenu{
    border: none;
}
QMenu::item {
    border: none;
    padding: 5px 28px;
    background-color: #deddde;
    color: #636363;
}
QMenu::item:selected {
    background-color: #cfcfcf;
    color:#232121;
}
QMenu::separator{
    height: 1px;
    background-color: #d2d1d2;
}
QMenu::icon{
    margin-left: 15px;
}
QMenu::item:disabled {
   color: #a6a6a6;
}
/*--------------------------------------------
Check Box CSS
--------------------------------------------*/
QCheckBox{
    color: #bdbdbd;
    outline-style: none;
}
QCheckBox:hover, QCheckBox:checked {
    color: #ffffff;
}
QCheckBox:disabled {
    color: rgba(255, 255, 255, 10%);
}
QCheckBox::indicator {
    width: 16px;
    height: 16px;
}
QCheckBox::indicator::unchecked {
    image: url(:/styles/app-icons/checkbox_unchecked);
}
QCheckBox::indicator::checked {
    image: url(:/styles/app-icons/checkbox_checked);
}
QCheckBox::indicator::unchecked:hover {
    image: url(:/styles/app-icons/checkbox_unchecked_hover);
}
QCheckBox::indicator::checked:hover {
    image: url(:/styles/app-icons/checkbox_checked_hover);
}
QCheckBox:indicator:unchecked:disabled {
    image: url(:/styles/app-icons/checkbox_unchecked_disabled);  
}
QCheckBox:indicator:checked:disabled {
    image: url(:/styles/app-icons/checkbox_checked_disabled);
}
/*--------------------------------------------
Radio Button CSS
--------------------------------------------*/
QRadioButton{
    color: #bdbdbd;
    outline-style: none;
}
QRadioButton:hover, QRadioButton:checked {
    color: #ffffff;
}
QRadioButton:disabled {
    color: rgba(255, 255, 255, 10%);
}
QRadioButton::indicator {
    width: 16px;
    height: 16px;
}
QRadioButton::indicator::unchecked {
    image: url(:/styles/app-icons/radiobutton_unchecked);
}
QRadioButton::indicator::checked {
    image: url(:/styles/app-icons/radiobutton_checked);
}
QRadioButton::indicator::unchecked:hover {
    image: url(:/styles/app-icons/radiobutton_unchecked_hover);
}
QRadioButton::indicator::checked:hover {
    image: url(:/styles/app-icons/radiobutton_checked_hover);
}
QRadioButton:indicator:unchecked:disabled {
    image: url(:/styles/app-icons/radiobutton_unchecked_disabled);  
}
QRadioButton:indicator:checked:disabled {
    image: url(:/styles/app-icons/radiobutton_checked_disabled);
}
/*--------------------------------------------
Dialogs CSS
--------------------------------------------*/
QWidget#buttonsContainer {
    background: #ebeef3;
}
QWidget#buttonsContainerWhite {
    background: #ffffff;
}
QWidget#ReceiveRequestDialog {
    background: #f6f8fa;
}
QTextEdit#outUri {
    background: #f6f8fa;
}
/*--------------------------------------------
System Tray Message CSS
--------------------------------------------*/
QBalloonTip{
    background: #e1e1e1;
    color: #5a5a5d;
    border-color: #5a5a5d;
}
QBalloonTip QLabel{
    color: #5a5a5d;
}
QBalloonTip QPushButton{
    padding: 0px;
    min-width: 0em;
    background: transparent;
    border-radius: 0px;
}
QBalloonTip QPushButton:hover{
    background: transparent;
}
QBalloonTip QPushButton:pressed {
    background: transparent;
}
QBalloonTip QPushButton::disabled {
    background: transparent;
}
/*--------------------------------------------
Push Button CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #57b1d4;
    border: none;
    border-radius: 12px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: #6cc1e2;
}
QPushButton:pressed {
    background: #029ce0;
    color: #a4d1f0;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    background: rgba(87, 177, 212, 60%);
}
/*--------------------------------------------
Scroll Area CSS
--------------------------------------------*/
QScrollArea {
    background: transparent;
    border:none;
}
QWidget#scrollAreaWidgetContents{
    background: transparent;
}
.ABIFunctionField{
	background: transparent;
}
/*--------------------------------------------
Debug Dialog CSS
--------------------------------------------*/
QWidget#RPCConsole{
    background-color: #272727;
}
