/*--------------------------------------------
Scroll bar dark CSS
--------------------------------------------*/
QScrollBar:vertical {
    border-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #222222;
    width: 19px;
    padding: 10px 4px;
}
QScrollBar::handle:vertical {
    border: none;
    background: #2e2e2e;
    border-radius: 5px;
    min-height: 30px;
}
QScrollBar::handle:vertical:disabled {
    background: rgba(46, 46, 46, 40%);
}

QScrollBar:horizontal {
    background: #222222;
    height: 16px;
    padding: 4px 5px;
}
QScrollBar::handle:horizontal {
    border: none;
    background: #2e2e2e;
    border-radius: 4px;
    min-width: 35px;
}
QScrollBar::handle:horizontal:disabled {
    background: rgba(46, 46, 46, 40%);
}
