/*--------------------------------------------
Scroll bar dark CSS
--------------------------------------------*/
QScrollBar:vertical {
    border-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #1A233A;
    width: 12px;
    padding: 5px 0px 5px 2px;
}
QScrollBar::handle:vertical {
    border: none;
    background: #49587a;
    border-radius: 5px;
    min-height: 30px;
}
QScrollBar::handle:vertical:disabled {
    background: rgba(29, 40, 67, 40%);
}

QScrollBar:horizontal {
    background: #1A233A;
    height: 16px;
    padding: 4px 5px;
}
QScrollBar::handle:horizontal {
    border: none;
    background: #49587a;
    border-radius: 4px;
    min-width: 35px;
}
QScrollBar::handle:horizontal:disabled {
    background: rgba(29, 40, 67, 40%);
}
#autoCompleterPopup QScrollBar:vertical {
    border-radius: 0px;
    background: transparent;
    width: 13px;
    padding: 0px 0px;
    margin-left: 3px;
}
#autoCompleterPopup QScrollBar::handle:vertical {
    border: none;
    background: #1A233A;
    border-radius: 5px;
    min-height: 30px;
}
