/*--------------------------------------------
Table View light CSS
--------------------------------------------*/
QHeaderView{
    color: #49587a;
    background-color: #1A233A;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 3px;
}
QHeaderView:section{
    background-color: #1A233A;
}

QTableView{
    background-color: #1A233A;
    border: 1px solid #49587a;
    border-radius: 6px;

}

QScrollBar:vertical {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
