/*--------------------------------------------
Table View light CSS
--------------------------------------------*/
QHeaderView{
    color: #49587a;
    background-color: #1A233A;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
QHeaderView:section{
    background-color: #1A233A;
    margin-top: 3px;
}
QHeaderView::down-arrow {
    margin-top: 3px;
}
QHeaderView::up-arrow {
    margin-top: 3px;
}
QTableView{
    background-color: #1A233A;
    border: 1px solid #49587a;
    border-radius: 6px;
}
QScrollBar:vertical {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
QScrollBar:horizontal {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
QAbstractScrollArea::corner {
    border-bottom-right-radius: 6px;
}
